.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    margin: 0;
    padding: 0;
    
    background-color:hsl(217, 100%, 97%);

    font-family: 'Ubuntu', sans-serif; 
    
}

p{
    font-size: 16px;
}



.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

}

.conteudo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 65%;
    height: 75%;

    border-radius: 10px;

    background-color:  hsl(0, 0%, 100%)
}

.conteudo2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 97%;
    height: 96%;

    

    border-radius: 10px;
}

.lateral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 30%;    
    height: 100%;


    background-image: url('./assets/images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 10px;

    
}

.conteudo-lateral{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    width: 80%;
    height: 90%;

    gap:  20px;
}

.direita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 100%;


    
}



.caixas-esq{
    display: flex;
    flex-direction: row;
    justify-content: start;    
    align-items: center;

    width: 100%;

    

    
    
}

.passos{

    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;

    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid  hsl(0, 0%, 100%);
    color:  hsl(0, 0%, 100%);;

    

}

.passos:hover{
    background-color: hsl(228, 100%, 84%);
    border: 1px solid  hsl(228, 100%, 84%);
    color: hsl(213, 96%, 18%);
}

.conteudo-passos1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    width: 30%;
    

}



.conteudo-passos2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    width: 70%;

    color:  hsl(0, 0%, 100%);;
    

}

.steps{
    color: hsl(231, 11%, 63%);  
    font-weight: 400; 
}

span{    
    
    font-weight: 500;
}








.conteudo-direita{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    width: 100%;
    height: 95%;

    

    
}


.step1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    width: 100%;
    height: 100%;

    


}

.step-conteudo{
    display: flex;
    flex-direction: column;  
    justify-content: space-around;
    

    width: 75%;
    height: 100%;


}

.parte1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    width: 100%;

    
    gap: 10px;

    

}
h1{
    margin: 0;
    padding: 0;
    color:  hsl(213, 96%, 18%);
    font-weight: 700;
}

p{
    margin: 0;
    padding: 0;
    color: hsl(231, 11%, 63%);
    font-weight: 400;
}


.parte2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    

}

.parte2 input{
    width: 96%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid hsl(229, 24%, 87%);
}

.parte2 label{
    color: hsl(231, 11%, 63%);
    font-weight: 700;
}

input{
    padding-left: 10px;
}

input::placeholder{
    color: hsl(231, 11%, 63%);
    font-weight: 400;
}
.parte3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    width: 70%;

    

    
    
}

.form1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    width: 100%;
    height: auto;

    gap: 10px;

    
}

button{
    background-color: hsl(213, 96%, 18%);
    color:hsl(229, 24%, 87%);
    height: 40px;
    width: 95px;
    border-radius: 5px;
    
}

#go-back {
    background-color: white !important;
    border: none;
    color: hsl(231, 11%, 63%);
    font-weight: 700;
    text-align: left;
}

.caixa-opcoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;

}

.opcoes-caixa{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    
    width: 31%;
    height: 160px;

    border: 1px solid hsl(229, 24%, 87%);
    border-radius: 10px;


}

.planos{
    display: flex;
    flex-direction: column;     
    align-items: start;
    margin-bottom: 12px;
    margin-left: 12px;

    height: auto;
    gap: 5px;

    
}

#step2-plano1{
    background-image: url('./assets/images/icon-arcade.svg');
    background-repeat: no-repeat;
    background-position:top  left;
    background-position-x: 14px;
    background-position-y: 14px;
}

#step2-plano2{
    background-image: url('./assets/images/icon-advanced.svg');
    background-repeat: no-repeat;
    background-position:top  left;
    background-position-x: 14px;
    background-position-y: 14px;
}

#step2-plano3{
    background-image: url('./assets/images/icon-pro.svg');
    background-repeat: no-repeat;
    background-position:top  left;
    background-position-x: 12px;
    background-position-y: 12px;
}

.tipo{
    color: hsl(213, 96%, 18%);
    font-weight: 700;
}

.preco{
    color: hsl(231, 11%, 63%);
    font-weight: 400;
}

.periodo-plano{
    display: flex;
    flex-direction: row;     
    justify-content: center;
    align-items: center;

    position: relative;

    width: 100%;
    height: 35px;

    margin-top: 20px;

    gap: 10px;

    background-color:hsl(217, 100%, 97%);
}

.caixa-switch {
    display: flex;
    flex-direction: row;     
    justify-content: start;
    align-items: center;
    width: 30px;
    height: 15px;

    padding: 4px;

    border-radius: 30px;
    background-color: hsl(213, 96%, 18%);
  }

 
  
  .slider {
    
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
  }

  .periodo-plano .label-monthly{
    color:hsl(213, 96%, 18%);
  }

  .label-yearly{
    color:hsl(229, 24%, 87%);
  }

  .desconto p{
    color: hsl(213, 96%, 18%);
    font-weight: 500;
    font-size: 14px;
  }

 


.sumir-display{
    display: none;
}

.container-step-3{
    display: flex;    
    flex-direction: column;     
    justify-content: center;
    align-items: center;

    width: 90%;
    gap: 10px;
}


.conteudo-step-3{
    display: flex;    
    flex-direction: row;     
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 60px;

    border-radius: 10px;    
    border: 1px solid hsl(229, 24%, 87%);  
    
}

.conteudo-step-3:hover{
    background-color:  hsl(217, 100%, 97%);
    border: 1px solid hsl(213, 96%, 18%);
}

.conteudo-step-3 span{
    margin-right: 10px;
}

.conteudo-step-3-meio{
    display: flex;    
    flex-direction: row;     
    justify-content: start;
    align-items: start;
    gap: 20px;
    margin-left: 10px;
}


.conteudo-step-3-meio label{
    color: hsl(213, 96%, 18%);
    font-weight: 700;
    font-size: 14px;
  }

.conteudo-step-3-meio p{
    color: hsl(231, 11%, 63%);
    font-weight: 500;
    font-size: 14px;
  }


  .container-step-4{
    display: flex;    
    flex-direction: column;     
    justify-content: center;
    align-items: center;

    width: 90%;
    
    padding: 30px;
    
    
    background-color:  hsl(217, 100%, 97%);

    border-radius: 10px;
    
}


.step4-parte1{
    display: flex;    
    flex-direction: row;     
    justify-content: space-between;
    align-items: center; 

    width: 100%;
    height: 50px;
 
}

.step4-parte2{
    display: flex;    
    flex-direction: row;     
    justify-content: space-between;
    align-items: center; 

    width: 100%;
    height: 100px;
 
}

.step4-parte3{
    display: flex;    
    flex-direction: row;     
    justify-content: space-between;
    align-items: center; 

    width: 100%;
    height: 50px;
 
}

.conteudo-step-4-1{
    display: flex;    
    flex-direction: column;     
    justify-content: start;
    align-items: start;

    width: 100%;

    gap: 10px;

    padding-bottom: 35px;
    
}

.conteudo-step-4-2{
    display: flex;    
    flex-direction: column;     
    justify-content: start;
    align-items: start;

    width: 100%;

    gap: 10px;

    
}

.conteudo-step-4-2{
    display: flex;    
    flex-direction: column;     
    justify-content: start;
    align-items: start;

    width: 100%;
    
}

.step-4-precos{
    display: flex;    
    flex-direction: column;     
    justify-content: start;
    align-items: end;

    width: 100%;

    gap: 10px;
}



.borda-step-4{
    display: inline-block;
    border-bottom: 1px solid hsl(229, 24%, 87%);

    width: 100%;  

    
}